.background {
  background-color: rgba(9, 9, 9, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 12px 22px 44px 22px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: calc(100% - 40px);
  max-width: 360px;
  align-items: center;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  align-self: flex-end;
  transform: rotate(45deg);
  cursor: pointer;
}

.titleText {
  font-size: 18px;
  text-align: center;
}

.descriptionText {
  font-size: 14px;
  color: #ff6262;
  text-align: center;
}

.input {
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 48px;
  font-size: 15px;
  padding: 0 16px;
  width: 100%;
}

.input::placeholder {
  color: #b5b9bd;
}

.button {
  border-radius: 8px;
  background-color: #b5b9bd;
  border: 1px solid #000000;
  height: 48px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
