.container {
  background-color: #f8f9fa;
}

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}

.topArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 44px;
  align-items: center;
  padding: 0 8px;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleText {
  font-size: 24px;
  font-weight: 700;
}

.image {
  height: 240px;
  border-radius: 4px;
  background-color: #fffff8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  cursor: pointer;
}

.chipsWrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: scroll;
}

.chip {
  padding: 4px 12px;
  background-color: #fce1e1;
  border-radius: 2px;
  cursor: pointer;
}

.chipText {
  font-size: 12px;
  white-space: nowrap;
}

.customInputWrap {
  position: relative;
}

.labelInput {
  height: 48px;
  font-size: 15px;
  background-color: transparent;
  border: 0;
}

.labelInput::placeholder {
  color: #b5b9bd;
}

.customInputDeleteIcon {
  position: absolute;
  top: -8px;
  right: -6px;
  cursor: pointer;
}

.plusButtonWrap {
  display: flex;
  justify-content: center;
  height: 32px;
  cursor: pointer;
}

.divider {
  height: 8px;
  background-color: #ededed;
}

.buttonArea {
  padding: 20px 32px;
  border-top: 1px dashed #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #fcff59;
  padding: 16px 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.buttonText {
  font-size: 16px;
}
